# URL PARA EL CLIENTE (Transaction)
DATABASE_URL="postgresql://postgres.[tu-id-supabase]:[tu-password]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL DIRECTA PARA MIGRACIONES (Session)
DIRECT_URL="postgresql://postgres.[tu-id-supabase]:[tu-password]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

# Seguridad (JWT Local / Obsoleto tras Supabase Auth)
JWT_SECRET="brofy_super_secreto_change_in_production"

# Entorno
NODE_ENV=development

# Integración con Cloudinary (Opcional)
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# Supabase Auth API
NEXT_PUBLIC_SUPABASE_URL="https://[tu-id-supabase].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="tu-anon-key-de-supabase"

# Nodemailer SMTP (Gmail)
SMTP_USER="brofy.principal@gmail.com"
SMTP_PASS="tu-contrasena-de-aplicacion-gmail"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465

# Credenciales de Izipay (Pasarela de Pago por Uso / Reserva Citas)
IZIPAY_MERCHANT_ID="tu_codigo_de_comercio"
IZIPAY_API_PASSWORD="tu_clave_de_api_password"
IZIPAY_SHA256_KEY="tu_llave_HMAC_SHA256_para_webhooks"
NEXT_PUBLIC_IZIPAY_API_URL="https://api.izipay.pe"

