# Entorno
NODE_ENV=development

# Seguridad (JWT)
# Cambiar por una clave secreta segura en Vercel
JWT_SECRET=brofy_secret_key_change_in_production_2025

# Supabase Database (PostgreSQL)
# DATABASE_URL se usa para las consultas del cliente Prisma (connection pooling)
DATABASE_URL="postgres://postgres.[tusupabaseid]:[tupassword]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# DIRECT_URL se usa para las migraciones (prisma db push / prisma migrate)
DIRECT_URL="postgres://postgres.[tusupabaseid]:[tupassword]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
